body {
 font:18px/1.4 "Titillium Web",Arial,sans-serif
}
html {
 background:url(/images/bg.png) no-repeat center center fixed;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover
}
.fullpage {
 width:100%;
 height:100%;
 text-align:center;
 color:white
}
.fullpage a,.fullpage h1,.fullpage h2,.fullpage h3 {
 color:white
}
.fullpage a {
 text-decoration:underline
}
