.header {
    color: #ee6e73;
    font-weight: 300;
}

.content > ul {
	padding-left: 20px;
	list-style-type: disc;
}

.content > ul > li > ul {
	padding-left: 20px;
	list-style-type: circle;
}

ul.bullet-list {
	padding-left: 20px;
	list-style-type: disc;
}

ul.bullet-list > li {
	list-style-type: disc;
	padding-bottom: 10px;
}


.content > ul > li {
	list-style-type: disc;
}

.content > ul > li > ul > li {
	list-style-type: circle;
}

/* Fixes weird behaviour of buttons below a device width of 650px (WARNING: kind of hacky) */
@media only screen and (max-width: 650px) {
	.btn { display: block !important; }
}
