<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Resources</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/papyros">GitHub organization</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/113262712329378697012">Follow us on Google+</a></li>
          <li><a class="grey-text text-lighten-3" href="https://groups.google.com/forum/#!forum/papyros">Join our mailing list</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 - 2015 {{ site.title }}
    <a class="grey-text text-lighten-4 right" href="mailto:mspencer@sonrisesoftware.com">Contact us at mspencer@sonrisesoftware.com</a>
    </div>
  </div>

  {% include disqus.html %}

</footer>
