<!-- Navigation bar for the Papyros website using Materialize.
     Left side displays the name Papyros, right side or nav drawer
     on mobile shows the top-level pages. -->

{% assign current_url = page.url %}
{% assign sorted_pages = site.pages | sort:"order" %}

<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo"
         style="font-family: Roboto; font-weight: 300;">
        Papyr<span style="font-family: Roboto; font-weight: 500;">os</span>
      </a>

      <ul class="right hide-on-med-and-down">
        {% for page in sorted_pages %}
          {% if page.title and page.visible != false %}
          <li {% if page.url == current_url %}class="active"{% endif %}><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
              {% if page.short_title %}
                {{ page.short_title }}
              {% else %}
                {{ page.title }}
              {% endif %}
          </a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link{% if page.url == current_url %} active{% endif %}"
                 href="{{ page.url | prepend: site.baseurl }}">
              {% if page.short_title %}
                {{ page.short_title }}
              {% else %}
                {{ page.title }}
              {% endif %}
          </a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
