---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 style="padding: 0px; margin: 0px;">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}

            {% if site.disqus_short_name and post.comments != false%}
                | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
                    data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
            {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
