---
layout: default
title: Blog
permalink: /blog/
order: 2
---

<div class="home">

  <br>
  <h3 class="header">Posts</h3>
  <div class="divider"></div>
  <br>

  {% for post in site.posts %}
    <div class="row">
        <div class="col s12 m12">
          <a href="{{ post.url }}"> <div class="card">
            <div class="card-content">
              <div class="card-title blue-text">{{ post.title }}</div>
              <p class="black-text">
                {{ post.summary }}
              </p>
            </div>
            <div class="card-action">
              <span class="light black-text">
                {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
              </span>
            </div>
          </div>
          </a>
        </div>
      </div>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
